<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S'inscrire</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="form-container">
        <h5>Formulaire d'inscription</h5>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enregistrer</button>
        </form>
        <p>Vous avez déjà un compte ? <a href="/">Connexion</a></p>
    </div>
    <footer>
        <p>&copy; bana 2024</p>
    </footer>
</body>
</html>
